<%= render "layouts/navbar" %>

<div class="container">
  <div class="jumbotron">
    <h1>About "Miss Wormwood"</h1>
    "Miss Wormwood" is a sadistic woman, whose identity needs to be protected, who has been on the dating scene for probably closing in on half a century now.  She also works as an assistant principal, and uses this title to assist in her quest for the complete annihilation of the male psyche.
  </div>
</div>