<%= render "layouts/navbar" %>

<div class="container">
  <div class="jumbotron">
    <h1>Contact Miss Wormwood</h1>
Have you learned NOTHING from this site?  DO NOT CONTACT MISS WORMWOOD!!!
  </div>
</div>