<%= render "layouts/navbar" %>
<div class="container">
  <div class="jumbotron">
    
    <h1>Pages#home</h1>

    <body>
    <p>Find me in app/views/pages/home.html.erb</p>
    </body>
  </div>
  <%= render "layouts/footer" %>

</div>