<%= render "layouts/navbar" %>
<div class="container">
  <div class="jumbotron">
    
    <h1>Principals of Dating</h1>

    <body>
    <p>If you want to read about my debaucherous adventures, head over to my posts, and I promise you'll end up feeling like a half-way decent person in comparison!</p>
    </body>
  </div>
  <%= render "layouts/footer" %>

</div>